<html>
  <head>
    <title>{{title}}</title>
    <script
      src='https://unpkg.com/htmx.org@1.9.5'
      integrity='sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO'
      crossorigin='anonymous'
    ></script>
    <script src='https://cdn.tailwindcss.com'></script>
  </head>
  <body>
    <h1 class='p-8 text-2xl'>{{title}}</h1>
    <h3 class='italic'>{{message}}</h3>

    <div>
      <h3>
        Search Contacts
        <span class='htmx-indicator'>
          Searching...
        </span>
      </h3>
      <input
        type='text'
        name='q'
        hx-post='/search'
        hx-trigger='keyup changed delay:500ms, search'
        hx-target='#search-results'
        hx-swap=''
        hx-indicator='.htmx-indicator'
        placeholder='Search...'
      />
      <div class='px-8 flex'>
        <div hx-post='/search' hx-trigger='load'></div>

        <div id='result'></div>
      </div>

    </div>
  </body>
</html>