<footer class='footer p-24 bg-neutral text-neutral-content'>
  <aside>
    <h6 class='footer-title'>{{title}}</h6>
    <p>{{description}}</p>
  </aside>
  <nav>
    <h6 class='footer-title'>Built With</h6>
    <div class='grid grid-flow-col gap-4'>
      <a href='https://nestjs.com/' target='_blank'>
        <img
          src='https://github.com/marwin1991/profile-technology-icons/assets/136815194/519bfaf3-c242-431e-a269-876979f05574'
          class='w-12 h-12 rounded-full'
        />
      </a>
      <a href='https://htmx.org/' target='_blank'>
        <img
          src='https://miro.medium.com/v2/resize:fit:640/format:webp/1*K9DsxvRlx5CWa2SRbDGZmA.png'
          class='w-12 h-12'
        />
      </a>
      <a href="https://handlebarsjs.com/" target="_blank">
        <img
          src='https://logodix.com/logo/1878536.jpg'
          class='w-12 h-12 rounded-full'
        />
      </a>
      <a href="https://tailwindcss.com/" target="_blank">
        <img
          src='https://user-images.githubusercontent.com/25181517/202896760-337261ed-ee92-4979-84c4-d4b829c7355d.png'
          class='w-12 h-12 rounded-full'
        />
      </a>
    </div>
  </nav>
</footer>