<html>
  <head>
    <title>{{title}}</title>

    <link href="styles.css" rel="stylesheet" />
    			<link
  			rel='stylesheet'
  			href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css'
		/>
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {{#> navbar}}{{/navbar}}
    {{> @partial-block}}
    {{#> footer}}{{/footer}}
  </body>  
</html>